extends layout

block content
  h1 Bienvenido #{usuario.nombre}

  h2 Productos
  if productos.length === 0
    p No hay productos
  else
    ul
      each p in productos
        li #{p.nombre} - $#{p.precio}

  h2 Órdenes
  if ordenes.length === 0
    p No hay órdenes
  else
    ul
      each o in ordenes
        li Dirección: #{o.addres} | Fecha: #{o.creacion.toLocaleDateString()}

  br
  a(href="/auth/logout") Cerrar sesión
