h1 Tienda Admin
p Bienvenido #{usuario.nombre}

h2 Productos
ul
  each prod in productos
    li #{prod.nombre} - $#{prod.precio}

h2 Órdenes
if ordenes.length === 0
  p No hay órdenes
else
  each orden in ordenes
    div
      p Dirección: #{orden.addres}
      ul
        each prod in orden.productos
          li #{prod.nombre} - $#{prod.precio} x #{prod.cantidad}

a(href="/auth/logout") Cerrar sesión
