extends layout

block content
  h2 Editar Precio

  p Producto: strong #{producto.nombre}

  form(method="POST", action=`/productos/editar/${producto._id}`)
    .field
      label Nuevo precio
      input(
        type="number",
        name="precio",
        value=producto.precio,
        required
      )

    button.btn(type="submit") Guardar cambios
    button.btn(href="/panel") Cancelar
